/* Header */

header{ text-align: center;}

.page_title{font-size: 40px;
margin-bottom: 10px;
}


.title_description{
font-family: Georgia, 'Times New Roman', Times, serif; 
font-size: large;
font-style: italic;
margin-top:0px;
margin-bottom: 80px;


}


/* Article Title */
h4{font-size: 18px;}


/* Article 1 */

.div_article1:first-child{
border: 1px solid grey;
width: 1000px;
position: relative;
left:300px ;
}

.div_article1 img{
 width: 1000px; 
height: 500px;   
}

.subdivided_div_article1{
text-align: left;
padding: 10px;
font-family:Georgia, 'Times New Roman', Times, serif;

}




/* Article 2 */

.div_article2{
border:0.5px solid  grey; 
width: 500px;
height: 420px;
position: relative; 
left: 300px;
top:35px;
}

.div_article2 img{
width:500px;    
}

.subdivided_div_article2{
margin: 10px;  
font-family:Georgia, 'Times New Roman', Times, serif; 

}





/* Article 3 */



.div_article3{
border:0.5px solid  grey;
width: 455px;
height:420px;
position:relative;
left: 848px; 
bottom:385px;
}

.div_article3 img{
width:455px;
height: 250px;
}

.subdivided_div_article3{
margin: 10px;
font-family:Georgia, 'Times New Roman', Times, serif;
    
}



/* Buttons */

.subdivided_div_article1 button {
color:grey;
border-radius: 7px;
border:0.5px solid grey;
}

.subdivided_div_article2 button {
color:grey;
border-radius: 7px;
border:0.5px solid grey;
}

.subdivided_div_article3 button {
color:grey;
border-radius: 7px;
border:0.5px solid grey;
}