/* Header */

header{ text-align: center;}

.page_title{font-size: 40px;
margin-bottom: 10px;
}


.title_description{
font-family: Georgia, 'Times New Roman', Times, serif; 
font-size: large;
font-style: italic;
margin-top:0px;
margin-bottom: 80px;


}


/* Article */

.div_article1:first-child{
text-align: center;
}

.div_article2{
border:0.5px solid  grey;  
}


.div_article3{
border:0.5px solid  grey;     
}
