/* Add your CSS here */

/* Don't forget to link this file to your HTML in the <head> */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Black: #000;
  --White: #fff;
  --Lilac: #f5e8ff;
  --Light-Green: #e6fac0;
  --Medium-Green: #5e7d1f;
  --Dark-Green: #394b2a;
}

/* Header*/

.menu-tab {
  height: 50px;
  background-color: var(--Black);
}

.menu-tab p {
  color: var(--White);
  text-align: center;
  font-family: "Questrial";
  font-size: 20px;
  padding-top: 15px;
}

.menu-icon {
  width: 40px;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-tab span {
  font-family: "Questrial";
  font-size: 27px;
  padding: 5px;
}

/* -----------SECTION 1------------- */

.main-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "questrial";
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  font-family: "questrial";
  font-weight: 100;
  text-align: center;
  margin-bottom: 25px;
}

button {
  width: 200px;
  height: 50px;
  margin-bottom: 25px;
  font-family: "Raleway";
  font-size: 20px;
  background-color: var(--White);
  border: 3px solid var(--Black);
}

/* -----------SECTION 2------------- */

.main-section-2 {
  margin-bottom: 25px;
}

.main-section-2 img {
  width: 100%;
  height: 450px;
}

.main-section-2-text {
  background-color: var(--Lilac);
  font-family: "Raleway";

  text-align: center;
  padding: 20px;
  font-size: 25px;
}

/* -----------SECTION 3------------- */

.main-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section-3 h2 {
  font-size: 40px;
  text-wrap: wrap;
}
/* ----------SUB--SECTIONS------------- */
.sub-section3-A {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.sub-section3-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.sub-section3-C {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

/* ----------SUB-SECTION 3--IMAGES----------- */

.image-A {
  width: 100px;
  height: 100px;
}

.image-B {
  width: 100px;
  height: 100px;
}

.image-C {
  width: 100px;
  height: 100px;
}

/* ----------SUB-SECTION 3--text----------- */

.sub-section3-A h3 {
  font-size: 30px;
}

.sub-section3-A p {
  font-size: 25px;
}

.sub-section3-B h3 {
  font-size: 30px;
}

.sub-section3-B p {
  font-size: 25px;
}

.sub-section3-C h3 {
  font-size: 30px;
}

.sub-section3-C p {
  font-size: 25px;
}

/* --------------SECTION 4--------------- */

.main-section-4 {
  background-color: var(--Light-Green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section-4 img {
  width: 90%;
  margin-bottom: 30px;
  margin-top: 40px;
}

.sub-section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-section-4 h3 {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
  text-wrap: wrap;
}

.sub-section-4 p {
  font-size: 25px;
  margin-bottom: 25px;
}

.sub-section-4 button {
  font-size: 25px;
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  background-color: var(--Light-Green);
  border: 3px solid var(--Black);
}

/* --------------SECTION 5--------------- */

.main-section-5 {
  padding-top: 50px;
  background-color: var(--Lilac);
}

.main-section-5 img {
  width: 90%;
  height: 700px;
  margin-bottom: 20px;
}

/* ------------sUB--SECTION 5-------------- */

.section-5-main-heading {
  text-align: center;
}
.section-5-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-5-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-5-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------sUB--SECTION 5--PARAGRAPHS------------- */

.section-5-div1 p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-wrap: wrap;
}

.section-5-div2 p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-wrap: wrap;
}

.section-5-div3 p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-wrap: wrap;
}
/* ------------sUB--SECTION 5--HEADINGS------------- */

.section-5-div1 h3 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  text-wrap: wrap;
}

.section-5-div2 h3 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  text-wrap: wrap;
}

.section-5-div3 h3 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  text-wrap: wrap;
}
