body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  border: 3px solid grey;
  width: 100%;
  padding: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 25px;
  margin-top: 5px;
}

label {
  font-size: 23px;
}

input {
  margin-bottom: 15px;
}

#fullname {
  width: 250px;
  height: 30px;
  margin-bottom: 15px;
}

#email {
  width: 250px;
  height: 30px;
  padding-left: 50px;
}
