/*  Add your styling here */

header {
  display: flex;
  justify-content: space-between;
}

.header-img-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
}

.header-logo img {
  width: 150px;
  border-radius: 50%;
}

.header-menu img {
  width: 50px;
}

.header-text {
  font-size: 35px;
  text-wrap: wrap;
  text-align: right;
}
