* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

:root {
  --Black: #000;
  --White: #fff;
  --Lilac: #f5e8ff;
  --Light-Green: #e6fac0;
  --Medium-Green: #5e7d1f;
  --Dark-Green: #394b2a;
}

/* Header*/

.menu-tab {
  height: 70px;
  background-color: var(--Black);
}

.menu-tab p {
  color: var(--White);
  text-align: center;
  font-family: "Questrial";
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
}

.menu-icon {
  width: 40px;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-tab span {
  font-family: "Questrial";
  font-size: 30px;
  padding: 5px;
}

/* Main*/

h1 {
  font-size: 30px;
  font-weight: 400;
}
