* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

:root {
  --Black: #000;
  --White: #fff;
  --Lilac: #f5e8ff;
  --Light-Green: #e6fac0;
  --Medium-Green: #5e7d1f;
  --Dark-Green: #394b2a;
}

/* Header*/

.menu-tab {
  height: 70px;
  background-color: var(--Black);
}

.menu-tab p {
  color: var(--White);
  text-align: center;
  font-family: "Questrial";
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
}

.menu-icon {
  width: 40px;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-tab span {
  font-family: "Questrial";
  font-size: 30px;
  padding: 5px;
  text-align: center;
}

/* Main*/

h1 {
  font-family: "Questrial";
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 30px;
}

p {
  width: 70%;
  font-size: 25px;
  font-weight: 300;
  font-family: "Roboto";
  line-height: 40px;
  margin-bottom: 25px;
  text-wrap: wrap;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  width: 100%;
}

.image-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.pear-img,
.fruit-in-sack-img,
.hand-and-beetroot-img,
.fruit-in-a-hanging-sack-img {
  width: 300px;
  height: 300px;
}

/*-------FOOTER----*/

footer {
  background-color: var(--Dark-Green);
  color: var(--White);
}

.footer-links a {
  text-decoration: none;
  color: var(--White);
}

.footer-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px;
}
/* --------------GET STARTED--------------- */

.get-started h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 70px;
}

.get-started ul {
  padding-left: 0;
}

.get-started li {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
/* --------------CONNECT--------------- */

.connect h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 70px;
}
.connect ul {
  padding-left: 0;
}

.connect li {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
/* --------------MAILING--------------- */

.Mailing {
  margin-bottom: 70px;
}

.Mailing h4 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-top: 50px;
}

.Mailing label {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

.Mailing input {
  background-color: var(--Dark-Green);
  border-bottom: 3px solid var(--Black);
  border: none;
  outline: none;
  padding: 5px;
  font-size: 20px;
  color: var(--White);
  width: 100%;
}

.Mailing input:focus {
  border-bottom: 2px solid var(--White);
}

.Mailing button {
  background-color: var(--Dark-Green);
  border: 4px solid var(--White);
  color: var(--White);
  font-size: 25px;
  font-family: "Raleway";
  height: 70px;
  margin-left: 20px;
}

.mailing-subsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
}
/* --------------LOGO SECTION--------------- */

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.footer-logo img {
  width: 150px;
}
.footer-logo h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: left;
  text-decoration: underline;
}

.footer-logo p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: left;
}
