* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

:root {
  --Black: #000;
  --White: #fff;
  --Lilac: #f5e8ff;
  --Light-Green: #e6fac0;
  --Medium-Green: #5e7d1f;
  --Dark-Green: #394b2a;
}

/*-- ---------------HEADER---------------*/

.menu-tab {
  height: 70px;
  background-color: var(--Black);
}

.menu-tab p {
  color: var(--White);
  text-align: center;
  font-family: "Questrial";
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
}

.menu-icon {
  width: 40px;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-tab span {
  font-family: "Questrial";
  font-size: 30px;
  padding: 5px;
}

/*-- ---------------MAIN---------------*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "questrial";
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.address-1,
.address-2,
.address-3 {
  margin-bottom: 25px;
  margin-top: 25px;
}

.address-1 h2,
.address-2 h2,
.address-3 h2 {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  font-family: "questrial";
  margin-bottom: 25px;
  margin-top: 25px;
}

.address-1 p,
.address-2 p,
.address-3 p {
  font-size: 27px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 40px;
  text-wrap: wrap;
  width: 100%;
  text-align: center;
}

.image-box {
  width: 100%;
  margin-bottom: 30px;
}

.location-main {
  width: 100%;
  height: 450px;
}

.Contact-us {
  font-family: "questrial";
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contact-form h4 {
  font-size: 30px;
  text-wrap: wrap;
  font-family: "questrial";
  font-weight: 100;
  text-align: center;
  margin-bottom: 25px;
}

form {
  padding: 20px;
  width: 85%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-name-box label,
.last-name-box label,
.email-box label,
.comment-box label {
  font-size: 25px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  padding-bottom: 15px;
  margin-top: 20px;
}

.first-name-box input,
.last-name-box input,
.email-box input,
.comment-box textarea {
  border-bottom: 3px solid var(--Black);
  border: none;
  outline: none;
  padding: 5px;
  font-size: 20px;
  color: var(--Black);
  width: 100%;
}

.submit-button button {
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: var(--White);
  font-family: "Raleway";
  margin-bottom: 40px;
  background-color: var(--Black);
  border: 3px solid var(--White);
}

.contact-info h4,
.address-info h4 {
  font-size: 30px;
  font-family: "questrial";
  font-weight: 100;
  text-align: center;
  margin-bottom: 25px;
}

.contact-info p,
.address-info p {
  font-size: 25px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 40px;
  text-wrap: wrap;
  width: 100%;
  text-align: center;
}

/*-- ----------------FOOTER----------------*/

footer {
  background-color: var(--Dark-Green);
  color: var(--White);
}

.footer-links a {
  text-decoration: none;
  color: var(--White);
}

.footer-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px;
}
/* --------------GET STARTED--------------- */

.get-started h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 70px;
}

.get-started ul {
  padding-left: 0;
}

.get-started li {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
/* --------------CONNECT--------------- */

.connect h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 70px;
}
.connect ul {
  padding-left: 0;
}

.connect li {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
/* --------------MAILING--------------- */

.Mailing {
  margin-bottom: 70px;
}

.Mailing h4 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-top: 50px;
}

.Mailing label {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

.Mailing input {
  background-color: var(--Dark-Green);
  border-bottom: 3px solid var(--Black);
  border: none;
  outline: none;
  padding: 5px;
  font-size: 20px;
  color: var(--White);
  width: 100%;
}

.Mailing input:focus {
  border-bottom: 2px solid var(--White);
}

.Mailing button {
  background-color: var(--Dark-Green);
  border: 4px solid var(--White);
  color: var(--White);
  font-size: 25px;
  font-family: "Raleway";
  height: 70px;
  margin-left: 20px;
}

.mailing-subsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
}
/* --------------LOGO SECTION--------------- */

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.footer-logo img {
  width: 150px;
}
.footer-logo h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: left;
  text-decoration: underline;
}

.footer-logo p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: left;
}
