* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Black: #000;
  --White: #fff;
  --Lilac: #f5e8ff;
  --Light-Green: #e6fac0;
  --Medium-Green: #5e7d1f;
  --Dark-Green: #394b2a;
}

body {
  background-color: var(--Light-Green);
}

/* Header*/

header {
  background-color: var(--White);
  height: 250px;
}

.menu-tab {
  height: 60px;
  background-color: var(--Black);
}

.menu-tab p {
  color: var(--White);
  text-align: center;
  font-family: "Questrial";
  font-size: 30px;
  padding-top: 15px;
}

.menu-icon {
  width: 40px;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-tab span {
  font-family: "Questrial";
  font-size: 27px;
  padding: 5px;
}

/*---------------------MAIN--------------*/

.menu-content {
  background-color: var(--Light-Green);
  padding-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: var(--Light-Green);
}

/*--------------------- SECTIONs--------------*/

h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 50px;
  text-wrap: wrap;
  background-color: var(--White);
}

.menu-section-A h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 30px;
}

.menu-section-A h3,
.menu-section-B h3,
.menu-section-C h3,
.menu-section-D h3 {
  font-size: 28px;
  font-weight: 500;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 24px;
}

.cleanse-kit-1-container img,
.cleanse-kit-2-container img,
.cleanse-kit-3-container img,
.tangerine-container img,
.detox-glory-container img,
.immune-x-container img,
.energizer-container img,
.roots-fusion-container img,
.berry-boost-container img,
.probiotic-x-container img,
.the-defender-container img,
.pro-vitality-container img {
  width: 100%;
  height: 400px;
}

.cleanse-kit-1-container h4,
.cleanse-kit-2-container h4,
.cleanse-kit-3-container h4,
.tangerine-container h4,
.detox-glory-container h4,
.immune-x-container h4,
.energizer-container h4,
.roots-fusion-container h4,
.berry-boost-container h4,
.probiotic-x-container h4,
.the-defender-container h4,
.pro-vitality-container h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Questrial";
  margin-bottom: 15px;
  margin-top: 15px;
}

.cleanse-kit-1-container p,
.cleanse-kit-2-container p,
.cleanse-kit-3-container p,
.tangerine-container p,
.detox-glory-container p,
.immune-x-container p,
.energizer-container p,
.roots-fusion-container p,
.berry-boost-container p,
.probiotic-x-container p,
.the-defender-container p,
.pro-vitality-container p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  line-height: 27px;
  margin-bottom: 15px;
  width: 60%;
}

.cleanse-kit-1-container span,
.cleanse-kit-2-container span,
.cleanse-kit-3-container span,
.tangerine-container span,
.detox-glory-container span,
.immune-x-container span,
.energizer-container span,
.roots-fusion-container span,
.berry-boost-container span,
.probiotic-x-container span,
.the-defender-container span,
.pro-vitality-container span {
  font-size: 25px;
  font-family: "Roboto";
  font-weight: 300;
  display: inline-block;
  margin-bottom: 40px;
}

.wellness-shots {
  font-size: 28px;
  font-weight: 500;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 24px;
}

/*---------------------FOOTER--------------*/

footer {
  background-color: var(--Dark-Green);
  color: var(--White);
  margin-top: 20px;
}

.footer-links a {
  text-decoration: none;
  color: var(--White);
}

.footer-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px;
}
/* --------------GET STARTED--------------- */

.get-started h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 70px;
}

.get-started ul {
  padding-left: 0;
}

.get-started li {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
/* --------------CONNECT--------------- */

.connect h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 70px;
}
.connect ul {
  padding-left: 0;
}

.connect li {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}
/* --------------MAILING--------------- */

.Mailing {
  margin-bottom: 70px;
}

.Mailing h4 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-top: 50px;
}

.Mailing label {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

.mailing-subsection input {
  border: none;
  outline: none;
  background-color: var(--Dark-Green);
  border-bottom: 3px solid var(--White);
  padding: 5px;
  font-size: 20px;
  color: var(--White);
  width: 100%;
  margin-top: 10px;
}

.Mailing button {
  background-color: var(--Dark-Green);
  border: 4px solid var(--White);
  color: var(--White);
  font-size: 25px;
  font-family: "Raleway";
  height: 70px;
  margin-left: 20px;
}

.mailing-subsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
}
/* --------------LOGO SECTION--------------- */

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.footer-logo img {
  width: 150px;
}
.footer-logo h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: left;
  text-decoration: underline;
}

.footer-logo p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  text-align: left;
}
