* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Black: #000;
  --White: #fff;
  --Lilac: #f5e8ff;
  --Light-Green: #e6fac0;
  --Medium-Green: #5e7d1f;
  --Dark-Green: #394b2a;
}

/* Header*/

.menu-tab {
  height: 50px;
  background-color: var(--Black);
}

.menu-tab p {
  color: var(--White);
  text-align: center;
  font-family: "Questrial";
  font-size: 20px;
  padding-top: 15px;
}

.menu-icon {
  width: 40px;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-tab span {
  font-family: "Questrial";
  font-size: 27px;
  padding: 5px;
}

/*---------------------MAIN--------------*/

/*--------------------- SECTIONs--------------*/
.menu-section-A h1 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 30px;
  text-wrap: wrap;
  width: 70%;
}

.menu-section-A h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 30px;
}

.menu-section-A h3,
.menu-section-B h3 {
  font-size: 28px;
  font-weight: 500;
  font-family: "Questrial";
  text-align: center;
  margin-bottom: 24px;
}

.tangerine-container img,
.detox-glory-container img,
.immune-x-container img,
.energizer-container img,
.roots-fusion-container img,
.berry-boost-container img,
.probiotic-x-container img,
.the-defender-container img,
.pro-vitality-container img {
  width: 80%;
  height: 400px;
}

.tangerine-container h4,
.detox-glory-container h4,
.immune-x-container h4,
.energizer-container h4,
.roots-fusion-container h4,
.berry-boost-container h4,
.probiotic-x-container h4,
.the-defender-container h4,
.pro-vitality-container h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Questrial";
  margin-bottom: 15px;
  margin-top: 15px;
}

.tangerine-container p,
.detox-glory-container p,
.immune-x-container p,
.energizer-container p,
.roots-fusion-container p,
.berry-boost-container p,
.probiotic-x-container p,
.the-defender-container p,
.pro-vitality-container p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  line-height: 25px;
  margin-bottom: 15px;
  width: 60%;
}

.tangerine-container span,
.detox-glory-container span,
.immune-x-container span,
.energizer-container span,
.roots-fusion-container span,
.berry-boost-container span,
.probiotic-x-container span,
.the-defender-container span,
.pro-vitality-container span {
  font-size: 25px;
  font-family: "Roboto";
  font-weight: 300;
}
